[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
sqlalchemy = "*"
alembic = "*" # これはlambdaにデプロイする必要ないからdevでもいいかもな
passlib = {version = "*", extras = ["bcrypt"]}
email-validator = "*"
python-multipart = "*"
python-jose = {version = "*", extras = ["cryptography"]}
psycopg2-binary = "*"
pydantic-i18n = "*"

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
uvicorn = {version = "*", extras = ["standard"]}
pytest = "*"
httpx = "*"
factory-boy = "*"
mypy = "*"
ruff = "*"
black = "*"
pytest-mock = "*"
pydeps = "*"

[requires]
python_version = "3.10"

[scripts]
format_and_lint = "bash -c '(pipenv run black app/ tests/ || true) && (pipenv run ruff app/ tests/ --fix || true) && pipenv run mypy app/ tests/'"
