[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
psycopg2 = "*"
sqlalchemy = "*"
alembic = "*"
passlib = {version = "*", extras = ["bcrypt"]}
email-validator = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
flake8-quotes = "*"
pytest = "*"

[requires]
python_version = "3.10"
