.passwordField.passwordField {
  align-items: flex-start;
  align-self: stretch;
  width: initial;
}

.label {
  flex-direction: column;
  align-self: stretch;
  height: min-content;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #304050;
}

.button.button {
  align-self: stretch;
  width: initial;
}

.label2 {
  z-index: 0;
  flex-direction: column;
  width: min-content;
  height: min-content;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  color: #fff;
  white-space: nowrap;
}

.label3 {
  flex-direction: column;
  width: min-content;
  height: min-content;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  color: #047d95;
  white-space: nowrap;
}

.root {
  flex-direction: column;
  gap: 16px;
  place-content: center;
  align-items: center;
  width: 1134px;
  height: 888px;
  padding: 16px 60px;
}

.union {
  width: 60.98px;
  height: 52.9467px;
  overflow: visible;
}

.icon {
  width: 100%;
  height: 100%;
}

.welcomeWorld {
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  height: min-content;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 150%;
  color: #0d1a26;
  text-align: center;
}

.textField {
  flex-direction: column;
  gap: 8px;
  place-content: center;
  align-self: stretch;
  height: min-content;
}

.label4 {
  flex-direction: column;
  align-self: stretch;
  height: min-content;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #304050;
}

.inputGroup {
  flex-direction: column;
  align-self: stretch;
  height: min-content;
}

.input {
  flex-direction: column;
  align-self: stretch;
  height: min-content;
  padding: 8px 16px;
  border-radius: 4px;
  outline: solid 1px #89949f;
}

.label5 {
  flex-direction: column;
  align-self: stretch;
  height: min-content;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #304050;
}

.inputGroup2 {
  flex-direction: column;
  align-self: stretch;
  height: min-content;
}

.input2 {
  flex-direction: column;
  align-self: stretch;
  height: min-content;
  padding: 8px 16px;
  border-radius: 4px;
  outline: solid 1px #89949f;
}

.signUp {
  flex-direction: column;
  gap: 8px;
  align-items: center;
  align-self: stretch;
  height: min-content;
}

.doHaveAnAccount {
  flex-direction: column;
  width: min-content;
  height: min-content;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #0d1a26;
  white-space: nowrap;
}
