:where(.storybrainResets),
:where(.storybrainResets) * {
  box-sizing: border-box;
  flex-shrink: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow-wrap: anywhere;
  background: none;
  border: none;
}

:where(.storybrainResets),
:where(.storybrainResets) :not(span, a, ul, ol, li, p) {
  display: flex;
}

:where(.storybrainResets) ul,
:where(.storybrainResets) ol {
  padding-inline-start: 1.5em;
  text-indent: 0;
}

:where(.storybrainResets) p:empty::before {
  display: inline-block;
  content: '';
}

:where(.storybrainResets) img {
  object-fit: contain;
}

:where(.storybrainResets) svg {
  overflow: visible;
}
