.button.button {
  border-radius: 0 4px 4px 0;
}
.buttonIcon.buttonIcon.buttonIcon {
  width: 16px;
  height: 16px;
}
.root {
  width: 300px;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.label {
  color: #304050;
  font-size: 16px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.inputGroup {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.input {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 10px;
  padding: 0 0 0 16px;
  outline: solid 1px #89949f;
  border-radius: 4px;
}
.placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: 40px;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
